ion-title {
  font-family: bold;
}
.topheadertitle {
  width: 100%;
  margin: 2vh 0px;
  margin-bottom: 5vh !important;
  font-size: 25px;
  font-family: Bold;
}
ion-icon.hydrated {
  position: relative;
  top: 4px;
}
ion-title {
  font-family: Light;
}
ion-input {
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 12px #00000014;
  display: block;
  font-family: Light;
  margin-bottom: 3vh;
  padding-left: 30px !important;
  border-radius: 50px;

}
ion-label {
  display: block;
  margin-bottom: 1vh;
}
ion-content {
  --ion-background-color: #FBFDFF;
}
.inscription {
  background: #FFD30F;
  padding: 18px 20px;
  width: 100%;
  color: #000;
  font-family: Bold;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  margin-top: 10px;
  box-shadow: 2px 5px 10px #ffd30f52;
}
.login-form {
  display: block;
  margin: 0px 0px;
}
.email {
  background: url('../../assets/images/mail_icon.png') no-repeat;
  background-size: 20px;
  background-position: 2%;
}
.password {
  background: url('../../assets/images/lock.png') no-repeat;
  background-size: 20px;
  background-position: 2%;
}
.forgot {
  display: block;
  margin: 20px 0px;
  text-align: center;
  width: 100%;
  font-family: Bold;
  text-decoration: underline;
  background: transparent;
  font-size: 13px;
}
#or {
  position: relative;
  width: 100%;
  height: 50px;

  line-height: 50px;
  text-align: center;
}

#or::before,
#or::after {
  position: absolute;
  width: 130px;
  height: 1px;

  top: 24px;

  background-color: #aaa;

  content: '';
}

#or::before {
  left: 0;
}

#or::after {
  right: 0;
}
.otherlogins {
  text-align: center;
}
.fb {
  font-size: 15px;
  background: #3b5998;
  color: #fff;
  width: 100%;
  text-align: left;
  outline: none;
  font-family: Light;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}
.ggl {
  background: #DB4437;
  color: #fff;
  font-size: 15px;
  font-family: Light;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  outline: none;
  padding: 5px;
}
.otherlogins ion-icon {
  font-size: 35px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
