<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="topheadertitle">Connexion</div>

      <div class="login-form">

            <ion-label>Adresse mail</ion-label>
            <ion-input class="email" type="email" [(ngModel)]="username"></ion-input>


            <ion-label>Mot De Passe</ion-label>
            <ion-input class="password" type="password" [(ngModel)]="password"></ion-input>

            <button class="inscription" (click)="login()">Connexion</button>
            <button class="forgot">Mot de passe oublier ?</button>
      </div>
      <div class="otherlogins">
        <div id="or">OU</div>
        <button (click)="loginfb()" class="fb"><ion-icon name="logo-facebook"></ion-icon><p>Se connecter avec facebook</p></button>
        <button (click)="google()" class="ggl"><ion-icon name="logo-google"></ion-icon><p>Se connecter avec google</p></button>
      </div>

</ion-content>
