<div *ngIf="afAuth.user | async as user; else showLogin">
    <ion-header>
      <ion-toolbar>
        <ion-title>feed</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <h1>Hello {{ user.email }}!</h1>
      <button (click)="logout()">Logout</button>
    </ion-content>
  </div>

<ng-template #showLogin>
  <ion-content padding="">
    <div class="error202">
      <img src="../../assets/images/penguin_error.png" />
      <h1><b>Oops 😞</b></h1>
      <h3>Vous devez vous connecter avant d'arriver à cette page 😉.</h3>
      <button class="tologin" (click)="toLogin()">Connectez vous</button>
    </div>
    </ion-content>
</ng-template>
