ion-content {
  --ion-background-color: #FBFDFF;
  position: fixed;
  height: 100%;
}
h1 {
  font-family: Bold;
}
h3 {
  font-family: Light;
}
.error202 {
  display: block;
  text-align: center;
  margin: 100px 0px;
}
.error202 img {
  width: 200px;
}
.tologin {
  background: #FFD30F;
  padding: 18px 20px;
  width: 50%;
  color: #000;
  font-family: Bold;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  margin-top: 10px;
  box-shadow: 2px 5px 10px #ffd30f52;
}
