
.penguin {
  display: block;
  float: left;
  margin-bottom: 5vh;
  width: 100%;
}
.penguin img {
  width: 8vh;
  height:8vh;
}
ion-content {

}
.ionic-con {
  position: relative;
  width: 100vh;
  height: 100vh;
  background-image: url('../../assets/images/bg.png');
  background-repeat: no-repeat;
  background-size:cover;
  overflow: hidden;
}
.all-front-app {
  position: fixed;
  top: 10vh;
}
.welcometext {
  display: block;
  width: 100%;
  margin: 20vh 0px;
  overflow: hidden;
}
.welcometext span {
  font-family: Light;
  font-size: 3vh;
  display: block;
  width: 80%;
}
.welcometext h1 {
  font-family: Bold;
  display: block;
  font-size: 6vh;
  width: 80%;
  margin-bottom: 30px;
}
button.connexion {
  background: #3C4FA0;
  padding: 18px 20px;
  width: 100%;
  color: #fff;
  font-family: Bold;
  top: 0px;
  box-shadow: 2px 2px 5px #3c4f9f42;
  position: relative;
  font-size: 2vh;
  border-radius: 10px;
  display: inline-block;
  outline: none;
}
button.connexion:active {
  opacity: .8;
}
.inscription {
  background: #FFD30F;
  padding: 18px 20px;
  width: 100%;
  color: #000;
  font-family: Bold;
  font-size: 2vh;
  border-radius: 10px;
  outline: none;
  margin-top: 10px;
  box-shadow: 2px 5px 10px #ffd30f52;
}
button.google {
  display: inline-block;
  float: right;
  background: #fff;
  box-shadow: 2px 2px 5px #3c4f9f42;
  padding: 14px 15px;
  border-radius: 10px;
  outline: none;
}
button.google img {
  width: 20px;
}
.buttons {
  position: fixed;
  bottom: 20px;
  right: 0px;
  left: 0px;
  padding: 20px;
}

