<ion-content  padding>
  <div class="all-front-app">
    <div class="penguin"><img src="../../assets/images/penguin.png" /></div>
    <div class="welcometext">
      <h1>Bienvenue à Ozone 💪 </h1>
      <span>La nouvelle façon pour defier vos amis 🐧😁</span>
    </div>
    <div class="buttons">
      <button class="ripple connexion" (click)="login()">Connexion</button>

      <button class="inscription" (click)="register()">Inscription</button>
    </div>
  </div>
</ion-content>
