ion-title {
  font-family: bold;
}
.topheadertitle {
  width: 100%;
  margin: 2vh 0px;
  margin-bottom: 5vh !important;
  font-size: 25px;
  font-family: Bold;
}
ion-input {
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 12px #00000014;
  display: block;
  font-family: Light;
  margin-bottom: 3vh;
  padding-left: 30px !important;
  border-radius: 50px;

}
ion-label {
  display: block;
  margin-bottom: 1vh;
}
ion-content {
  --ion-background-color: #FBFDFF;
}
.password {
  background: url('../../assets/images/lock.png') no-repeat;
  background-size: 20px;
  background-position: 5%;
}
  .inscription {
    background: #FFD30F;
    padding: 18px 20px;
    width: 100%;
    color: #000;
    font-family: Bold;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
    box-shadow: 2px 5px 10px #ffd30f52;
  }
