<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="topheadertitle">Inscription</div>



      <ion-label>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="username"></ion-input>


      <ion-label>Password</ion-label>
      <ion-input class="password" type="password" [(ngModel)]="password"></ion-input>



      <ion-label>Confirm Password</ion-label>
      <ion-input class="password"  type="password" [(ngModel)]="cpassword"></ion-input>



    <br>
    <br>
  <button class="inscription" (click)="register()">Inscription</button>


</ion-content>
